@import "partials/norm";

$breakMobile: 480px;
$breakSmall: 690px;
$breakMedium: 768px;
$breakLarge: 940px;

$colorMain: #F8C212;
$colorDark: #000;
$colorLight: #FFF;
$colorMedium: #aaa;
$colorMediumLight: #f6f6f6;
$colorMediumDark: #333333;
$colorMediumVeryDark: #222222;
$colorSecondary: #01DEE9;
$colorTertiary: #D4E961;

$navHeight: 60px;
$headerBottomHeight: 120px;
$headerOtherHeight: $navHeight + $headerBottomHeight;

$wrapperWidth: 70%;
$chooseUsMargin: (100% - $wrapperWidth)*0.5;

$mobileNavColor: rgba(255, 255, 255, 0.98);
$mobileNavColorEven: rgba(240, 240, 240, 0.98);

//globals

*{
	transition: all 0.3s ease;
}

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}

body{
	font-size: 1.3rem;
	line-height: 2.4rem;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: $colorDark;
	&:hover{
		color: $colorMain;
	}
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p{
	padding: 0;
	margin: 0;
}

h1{
	text-transform: uppercase;
	font-size: 2.4rem;
	margin: 30px 0;
}

.h1BothLines{
	text-align: center;
}

.h1RightLine:after, .h1BothLines:before, .h1BothLines:after{
	content:"";
	width: 30px;
	height: 3px;
	background-color: $colorMain;
	display: inline-block;
	position: relative;
	top: -6px;
	@media screen and (max-width: $breakMobile){
		display: none;
	}
}

.h1BothLines:before{
	right: 8px;
}

.h1RightLine:after, .h1BothLines:after{
	left: 8px;
}

h2{
	text-transform: uppercase;
	font-size: 1.6rem;
}

h3{
	text-transform: capitalize;
	font-size: 1.5rem;
	margin: 10px 0;
}

h4{
	text-transform: uppercase;
	font-size: 1.4rem;
}

section{
	padding: 50px 0;
}

img{
	max-width: 100%;
}

.wrapper{
	width: $wrapperWidth;
	margin: 0 auto;
	@media screen and (max-width: $breakLarge){
		$wrapperWidth: 90%;
		$chooseUsMargin: (100% - $wrapperWidth)*0.5;
		width: $wrapperWidth;
	}
}

.icon{
	background-color: $colorMain;
	text-align: center;
	padding: 9px 10px;
	border-radius: 50%;
	font-weight: bold;
	display: inline-block;
}

.button{
	padding: 8px 30px;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1px;
	&:hover{
		cursor: pointer;
	}
}

.eventsItemIcon .icon{
	background-color: $colorMain;
	text-align: center;
	padding: 6px 10px;
	border-radius: 50%;
	font-weight: bold;
	display: inline-block;
}

.mission, .learnAnytime, .plans{
	background: $colorMediumLight;
}

.backToTop{
	font-size: 3.6rem;
	position: relative;
	.backToTopIcon{
		position: fixed;
		z-index: 100;
		right: 10px;
		bottom: 10px;
	}
	.fa{
		color: $colorMedium;
		@media screen and (max-width: $breakSmall){
			display: none;
		}
		&:hover{
			color: $colorMain;
		}
	}
}

// N A V 

#desktopNavigation{
	display: block;
	@media screen and (max-width: $breakSmall){
		display: none;
	}
}

#mobileNavigation{
	display: none;
	@media screen and (max-width: $breakSmall){
		display: block;
	}
}

.navBurger{
	display: none;
	@media screen and (max-width: $breakSmall){
		display: block;
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 99;
	}
	.fa{
		font-size: 3rem;
		color: $colorDark;
		&:hover{
			color: $colorMedium;
			cursor: pointer;
		}
	}
	#closeIcon{
		display: none;
	}
}

nav{
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.05rem;
	font-size: 1.2rem;
	position: relative;
	height: $navHeight;
	@media screen and (max-width: $breakSmall){
		position: fixed;
		background-color: $colorMain;
		width: 100%;
		z-index: 99;
	}
	a{
		color: $colorMedium;
		margin-left: 14px;
		@media screen and (max-width: $breakMedium){
			margin-left: 10px;
		}
		@media screen and (max-width: $breakSmall){
			margin: 0;
			display: block;
			padding: 10px;
			background-color: $mobileNavColor;
		}
		&:hover{
			color: $colorMain;
		}
	}
	li:nth-of-type(even){
		a{
			@media screen and (max-width: $breakSmall){
				background-color: $mobileNavColorEven;
			}
		}

	}
	.wrapper{
		@media screen and (max-width: $breakLarge){
			width: 70%;
			margin: 0;
		}
		@media screen and (max-width: $breakMedium){
			width: 75%;
			margin: 0;
		}
		@media screen and (max-width: $breakSmall){
			width: 100%;
		}
	}
	.navMobile{
		@media screen and (max-width: $breakSmall){
			display: none;
			text-align: center;
		}
	}
	.nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 12px;
		@media screen and (max-width: $breakSmall){
			display: block;
			margin: 0;
		}
	}
	.navList li{
		display: inline-block;
		@media screen and (max-width: $breakSmall){
			display: block;
			border-bottom: 1px solid $colorMediumLight;
		}
	}
	.logo{
		display: flex;
		align-items:center;
		@media screen and (max-width: $breakSmall){
			display: none;
		}
		a{
			margin-left: 0;
			font-size: 1.8rem;
			color: $colorMain;
		}
		img{
			width: 50px;
			padding: 5px;
		}
	}
	.logoMobile{
		display:none;
		@media screen and (max-width: $breakSmall){
			display: block;
			text-align: center;
			margin: 15px 0;
			font-size: 1.8rem;
			a{
				display: inline-block;
				background-color: transparent;
				color: $colorDark;
				padding: 0;
				&:hover{
					color: $colorMedium;
				}
			}
		}
	}
	.navLogin{
		position: absolute;
		right: 0;
		top: 0;
		padding: 11px 0;
		@media screen and (max-width: $breakSmall){
			position: static;
			background-color: $mobileNavColor;
			border-bottom: 2px solid $colorMain;
			li a{
				margin: 0;
				border:none;
				display: inline-block;
				background-color: transparent;
			}
		}
		.navListRegister{
			background-color: $colorMain;
			color: $colorDark;
			margin: 0 10px;
			padding: 8px 10px;
			@media screen and (max-width: $breakSmall){
				color: $colorMedium;
				background-color: transparent;
				padding: 0;
				margin: 0;
			}
			&:hover{
				background-color: $colorDark;
				color: $colorMain;
				@media screen and (max-width: $breakSmall){
					background-color: transparent;
					padding: 0;
				}
			}
		}
	}
}

// H E A D E R 
header{
	.headerMain{
		height: calc(100vh - #{$headerOtherHeight});
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: $breakSmall){
			padding-top: 100px;
			margin-bottom: 60px;
		}
		img{
			max-height: 40vh;
			max-width: 80vw;
		}
		h2{
			margin: 30px 0 -5px 0;
			text-align: center;
		}
		.headerTag{
			text-transform: uppercase;
			color: $colorMedium;
			font-weight: bold;
			margin: 10px 0;
			text-align: center;
		}
		.headerMainSearch{
			position: relative;
			width: 50%;
			input{
				width: 100%;
				padding: 6px;
				outline: none;
				border: 1px solid $colorMedium;
				&:focus{
					border: 1px solid $colorMain;
				}
			}
			label{
				position: absolute;
				z-index: 9;
				bottom:5px;
				right: 10px;
				cursor: pointer;
				color: $colorMain;
				&:hover{
					color: $colorDark;
				}
			}
			#submit{
				display: none;
			}
		}
	}
	.headerBottom{
		min-height: $headerBottomHeight;
		display: flex;
		@media screen and (max-width: $breakMobile){
			flex-direction: column;
		}
		.headerBottomBox{
			width: 25%;
			float:left;
			background-color: $colorMain;
			padding: 20px;
			@media screen and (max-width: $breakMedium){
				width: 50%;
			}
			@media screen and (max-width: $breakMobile){
				width: 100%;
			}
			p{
				color: $colorLight;
			}
		}
		.headerBottomMenu{
			display: flex;
			align-items:center;
			justify-content: space-around;
			width: 75%;
			float: right;
			background-color: $colorMediumLight;
			@media screen and (max-width: $breakMedium){
				flex-direction: column;
				width: 50%;
			}
			@media screen and (max-width: $breakMobile){
				width: 100%;
				flex-direction: row;
			}
			p{
				display: inline-block;
				background-color: $colorLight;
				padding: 15px 25px;
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: bold;
				box-shadow: 5px 5px 50px $colorMedium;
				@media screen and (max-width: $breakLarge){
					padding: 5px;
				}
				@media screen and (max-width: $breakMedium){
					display: block;
				}
				&:hover{
					color: $colorLight;
					background-color: $colorDark;
				}
			}
		}
	}
}

.ourCourseOnline{
	display: flex;
	flex-wrap: wrap;
	div{
		width: 25%;
		text-align: center;
		@media screen and (max-width: $breakMedium){
			width: 50%;
			margin-top: 20px;
		}
		@media screen and (max-width: $breakMobile){
			width: 100%;
		}
}
}

.mission{
	padding: 80px 0;
	background-image: url("../../assets/target.png");
	background-position: top right;
	background-size: 45%;
	background-repeat: no-repeat;
	@media screen and (max-width: $breakMedium){
		background-position: right;
		background-size: 30%;
	}
	@media screen and (max-width: $breakMobile){
		background-image: none;
		padding: 10px 0 30px;
	}
	p{
		width: 40%;
		@media screen and (max-width: $breakMedium){
			width: 60%;
		}
		@media screen and (max-width: $breakMobile){
			width: 100%;
		}
	}
}

.popularCourses{
	h1{
		margin-bottom: 50px;
	}
	.popularCoursesItem{
		.popularCoursesPrice{
			position: absolute;
			top:-24px;
			left: 24px;
			padding: 10px 6px;
			font-weight: bold;
			background: $colorMain;
			border-radius: 50%;
			border: 3px solid $colorLight;
		}
	}
	.popularCoursesPeople{
		display: flex;
		align-items: center;
		padding-top: 10px;
		.popularCoursesPeopleImg{
			width: 20%;
			img{
				width: 100%;
			}
		}
		.popularCoursesPeopleDescription{
			width: 65%;
			padding-left: 10px;
		}
		.popularCoursesPeopleMore{
			text-align: right;
			width: 15%;
			.fa:hover{
				background-color: $colorDark;
				color: $colorMain;
			}
		}
	}
}

.popularCoursesItem{
	float:left;
	width: calc(33.33% - 10px);
	position: relative;
	img{
		width: 100%;
	}
	&:nth-of-type(2){
		margin: 0 15px;
	}
	@media screen and (max-width: $breakSmall){
		width: 100%;
		float: none;
		margin: 50px 0;
		&:nth-of-type(2){
			margin: 0;
		}
		&:nth-of-type(3){
			margin-bottom: 0;
		}
	}
}

.aboutTestimonialsTagline, .popularCoursesPeopleDescriptionTagline, .LearnAnytimeTagline, .chooseTestimonialsTextTagline{
	font-style: italic;
	text-transform: capitalize;
	color: $colorMedium;
}

.numbers{
	display: flex;
	flex-wrap:wrap;
	.numbersBox{
		width: 25%;
		text-align: center;
		line-height: 3.5rem;
		padding: 30px 0;
		@media screen and (max-width: $breakSmall){
			width: 50%;
		}
		&:nth-of-type(odd){
			background: $colorMain
		}
		&:nth-of-type(even){
			background: $colorDark;
			color: $colorLight;
		}
		@media screen and (max-width: $breakSmall){
			&:nth-of-type(odd), &:nth-of-type(even){
				background: $colorMain
			}
			&:nth-of-type(2), &:nth-of-type(3){
				background: $colorDark;
				color: $colorLight;
			}
		}
		.numbersNumerals{
			font-size: 3.4rem;
			font-weight: bold;
			opacity: 0.2;
		}
	}
}

.choose{
	@media screen and (max-width: $breakSmall){
		padding-bottom: 0;
	}
	h1{
		margin-left: $chooseUsMargin;
	}
	.chooseBox{
		width: calc(50% - #{$chooseUsMargin});
		padding-right: 50px; 
		margin-left: $chooseUsMargin;
		float: left;
		@media screen and (max-width: $breakLarge){
			$wrapperWidth: 90%;
			$chooseUsMargin: (100% - $wrapperWidth)*0.5;
			width: calc(50% - #{$chooseUsMargin});
			margin-left: $chooseUsMargin;
		}
		@media screen and (max-width: $breakSmall){
			width: 80%;
			padding: 0;
		}
	}
	.chooseItem{
		padding: 10px 0;
		i{
			color: $colorLight;
		}
		.chooseItemIcon{
			float: left;
			width: 15%;
			margin-top: 18px;
		}
		.chooseContent{
			float: left;
			width: 85%;
		}
	}
	.chooseTestimonials{
		width: 50%;
		padding: 40px;
		background-color: $colorMain;
		float:right;
		position: relative;
		@media screen and (max-width: $breakSmall){
			margin-top: 60px;
			width: 100%;
		}
		p{
			margin-top: 20px;
			width: 70%;
			@media screen and (max-width: $breakSmall){
				width: 100%;
			}
		}
		h4{
			padding-top: 10px;
		}
		h4, .chooseTestimonialsTextTagline{
			color: $colorLight;
		}
		.chooseTestimonialsText{
			display: none;
		}
		.chooseTestimonialsImg{
			position: absolute;
			top: -38px;
			@media screen and (max-width: $breakMedium){
				top: -25px;
			}
			img{
				width: 8%;
				margin: 4% 10px;
			}
			.chooseImgActive{
				img{
					width: 16%;
					margin: 0;
				}
			}
		}
	}
}

.learnAnytime{
	text-align: center;
	img{
		width: 80%;
		margin-top: 20px;
	}
}

.events{
	display: flex;
	@media screen and (max-width: $breakSmall){
		flex-direction: column;
	}
	.eventsBox{
		width: 50%;
		padding-right: 40px;
		@media screen and (max-width: $breakSmall){
			width: 100%;
		}
		.eventsItem{
			padding: 10px 0;
			.eventsItemIcon{
				text-align: center;
				float: left;
				width: 10%;
				margin-top: 18px;
				h4{
					margin-top: 5px;
				}
			}
			.eventsContent{
				float: left;
				width: 90%;
				padding-left: 20px;
				.eventsTagline{
					color: $colorMedium;
					.fa-location-arrow{
						margin-left: 20px;
					}
				}
				p{
					margin-top: 10px;
				}
			}
		}
	}
	.eventsNews{
		width: 50%;
		position: relative;
		@media screen and (max-width: $breakSmall){
			width: 100%;
			height: 500px;
		}
		.eventsNewsPageLink{
			position: absolute;
			top: 30px;
			right: 0;
			font-size: 2rem;
		}
		.eventsNewsBox{
			height: calc(100% - 80px);
			color: $colorLight;
			position: relative;
			.eventNewsBoxText{
				position: absolute;
				bottom: 0;
				padding: 30px;
				p{
					padding: 10px 0;
				}
				.eventNewsBoxTextTime{
					border-bottom: 1px solid $colorLight;
					i{
						margin-right: 10px;
					}
					.fa-user{
						margin-left: 20px;
					}
				}
			}
		}
	}
}

.eventNewsItem{
	display: none;
}

.eventNewsLink{
	color:$colorMain;
	margin-left: 10px;
	&:hover{
		color: $colorDark;
	}
}

.eventNewsActive{
	color:$colorMedium;
	cursor: default;
	&:hover{
		color: $colorMedium;
	}
}

#eventNewsBox1, #eventNewsBox2, #eventNewsBox3{
	height: 100%;
	background-repeat: no-repeat;
}

#eventNewsBox1{
	background-image: url("../../assets/indexnews.jpg");
}

#eventNewsBox2{
	background-image: url("../../assets/indexnews2.jpg");
}

#eventNewsBox3{
	background-image: url("../../assets/indexnews3.jpg");
}

.contact{
	display: flex;
	@media screen and (max-width: $breakSmall){
		flex-direction: column;
	}
	.contactItem{
		width: 33.33%;
		text-align: center;
		line-height: 2.6rem;
		padding: 30px 0;
		@media screen and (max-width: $breakSmall){
			width: 100%;
		}
		&:nth-of-type(odd){
			background: $colorMain
		}
		&:nth-of-type(even){
			background: $colorDark;
			color: $colorLight;
		}
		i{
			font-size: 4rem;
		}
	}
}

.footer{
	background: $colorMediumDark;
	color: $colorMedium;
	h4{
		color: $colorLight;
		padding-bottom: 20px;
	}
	a{
		color: $colorMedium;
		&:hover{
			color: $colorMain;
		}
	}
	.footerWrapper{
		display: flex;
		@media screen and (max-width: $breakSmall){
			flex-direction: column;
			h4{
				margin-top: 30px;
			}
		}
		.footerAbout, .footerTweets{
			width: 25%;
			@media screen and (max-width: $breakSmall){
				width: 100%;
			}
		}
		.footerCommunity, .footerHelp, .footerFollow{
			width: 16.66%;
			@media screen and (max-width: $breakSmall){
				width: 100%;
				li{
					display: inline-block;
				}
			}
		}
		.footerTweets{
			.footerTweetsItem{
				display: flex;
				padding-bottom: 20px;
				i{
					color: $colorMain;
					padding-right: 10px;
					margin-top: 8px;
				}
			}
		}
	}
}

footer{
	background: $colorMediumVeryDark;
	padding: 20px 0;
	color: $colorMedium;
	text-align: center;
}

.headerAbout, .headerPrice{
	background-color: $colorMediumLight;
	padding: 20px 0;
	text-align: center;
	@media screen and (max-width: $breakSmall){
		padding-top: $navHeight + 20;
	}

}

.welcome{
	.welcomeTagline{
		text-align: center;
		color: $colorMedium
	}
	.welcomeImg, .welcomeDescription{
		margin: 30px 0;
		width: calc(50% - 20px);
		float:left;
		@media screen and (max-width: $breakSmall){
			width: 100%;
			float: none;
		}
	}
	img{
		box-shadow: 0 0 10px #ddd;
	}
	.welcomeDescription{
		margin-left: 20px;
		@media screen and (max-width: $breakSmall){
			margin: 0;
		}
	}
	ul{
		margin-left: 20px;
		line-height: 3rem;
		color: $colorMedium;
		li{
			position: relative;
		}
		li:before{
			position: absolute;
			top: 0;
			left: -20px;
			font-family: FontAwesome;
			content: "\f058";
			color: $colorMain;
		}
	}
}

.aboutTestimonials{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	@media screen and (max-width: $breakSmall){
		width: 100%;
	}
	.aboutTestimonialsHeading{
		font-size: 1.8rem;
		font-weight: bold;
		margin: 20px 0;
	}
	h4{
		margin-top: 10px;
	}
	a{
		color: $colorMedium;
		&:hover{
			color: $colorMain;
		}
	}
	i{
		font-size: 1rem;
		padding: 3px;
	}
}

.aboutTestimonialsItem{
	display: none;
}

a.aboutTestimonialsActive{
	color: $colorDark;
	pointer-events: none;
}

.team{
	.teamTitle{
		background-color: $colorDark;
		padding: 20px 0;
		h1{
			color: $colorLight;
		}
	}
}
.teamPeopleItem{
	float:left;
	width: 25%;
	text-align: center;
	@media screen and (max-width: $breakSmall){
		width: 50%;
	}
}

.teamPeoplePhoto:before{
	content:"";
	position: absolute;
	z-index: 3;
	height: 100%;
	width: 100%;
	left:0;
	top:0;
	background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70%, rgba( 0, 0, 0, 0.5) ); 
}

.teamPeoplePhoto{
	position: relative;
	height: 21vw;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: $colorLight;
	padding-bottom: 10px;
	@media screen and (max-width: $breakSmall){
		height: 210px;
	}
	@media screen and (max-width: $breakMobile){
		height: 180px;
	}
	@media screen and (max-width: 420px){
		height: 120px;
	}
	.teamPeopleItemTagline, .teamPeopleItemSocials, h4{
		position: relative;
		z-index: 5;
	}
	.teamPeopleItemSocials{
		display: inline-block;
		margin: 5px 0 0 0;
		padding: 2px 12px;
		padding-bottom: 0;
		background: $colorLight;
		a i{
			color: $colorDark;
			padding: 0 5px;
			&:hover{
				color: $colorMain;
			}
		}
	}
}

#teamPeoplePhotoToggle1, #teamPeoplePhotoToggle2, #teamPeoplePhotoToggle3, #teamPeoplePhotoToggle4{
	opacity: 0;
	position: relative;
	z-index: -999;
	height: 0;
}

#teamPeoplePhoto1:hover > #teamPeoplePhotoToggle1,
#teamPeoplePhoto2:hover > #teamPeoplePhotoToggle2,
#teamPeoplePhoto3:hover > #teamPeoplePhotoToggle3,
#teamPeoplePhoto4:hover > #teamPeoplePhotoToggle4
{
	opacity: 1;
	height: 60px;
	transition: all 0.5s ease;
	z-index: 5;
}

#teamPeoplePhoto1{
	background-image: url("../../assets/about1.jpg");
}

#teamPeoplePhoto2{
	background-image: url("../../assets/about2.jpg");
}

#teamPeoplePhoto3{
	background-image: url("../../assets/about3.jpg");
}

#teamPeoplePhoto4{
	background-image: url("../../assets/about4.jpg");
}

.join{
	background-color: $colorMain;
	margin: 0 auto;
	text-align: center;
	p{
		margin: 0 auto;
		width: 50%;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.joinButton{
		background-color: $colorLight;
		&:hover{
			background-color: $colorDark;
			color: $colorMain;
		}
	}
}

.basic{
	display: flex;
	text-align: center;
	text-transform: capitalize;
	@media screen and (max-width: $breakSmall){
		flex-direction: column;
	}
	.basicItem, .basicItemMid{
		width: calc(33.33% - 20px);
		border: 1px solid $colorMediumLight;
		&:nth-of-type(2){
			margin: 0 30px;
		}
		@media screen and (max-width: $breakSmall){
			width: 100%;
			&:nth-of-type(2){
				margin: 0;
			}
			margin: 20px 0;
		}
		li, .basicPerMonth, h4{
			padding: 10px 0;
			border-bottom: 1px solid $colorMediumLight;
		}
		.basicPriceNum{
			font-size: 3rem;
			font-weight: bold;
			position: relative;
			top: 15px;
		}
		.basicPrice{
			margin-bottom: 8px;
		}
		.basicPerMonth{
			color: $colorMedium;
			text-transform: uppercase;
			font-weight: bold;
		}
		.basicBuyNow{
			margin: 20px 0;
		}
		.basicButton{
			margin: 100px 0;
			background-color: $colorDark;
			color: $colorLight;
			&:hover{
				background-color: $colorMedium;
			}
		}
	}
	.basicItemMid{
		.basicPrice, h4{
			color: $colorMain;
		}
		.basicButton{
			margin: 100px 0;
			background-color: $colorMain;
			color: $colorLight;
			&:hover{
				background-color: $colorMedium;
			}
		}
	}
}

.plansBox{
	text-align: center;
	text-transform: capitalize;
	.plansItem{
		float: left;
		background-color: $colorLight;
		width: calc(25% - 15px);
		margin-right: 20px;
		box-shadow: 2px 3px 6px #eee;
		border: 2px solid #eee;
		@media screen and (max-width: $breakSmall){
			float:none;
			width: 100%;
			margin: 20px 0;
		}
		&:hover{
			border: 2px solid $colorMain;
		}
		&:nth-of-type(4){
			margin: 0;
		}
		.plansPrice{
			padding-top: 10px;
			background-color: $colorMain;
			color: $colorLight;
		}
		.plansPerMonth{
			background-color: $colorMain;
			padding-bottom: 24px;
			color: $colorLight;
		}
		.plansPriceNum{
			position: relative;
			top: 6px;
			font-size: 2.6rem;
			font-weight: bold;
		}
		.plansPerMonth{
			text-transform: uppercase;
			padding-top: 5px;
		}
		h3{
			display: inline-block;
			padding: 2px 25px;
			font-size: 1.3rem;
			border-radius: 30px;
			background-color: $colorLight;
			box-shadow: 2px 3px 6px #eee;
			margin-bottom: -30px;
			position: relative;
			bottom: 25px;
		}
		li{
			padding: 6px 0;
			&:nth-of-type(odd){
				background-color: $colorMediumLight;
			}
		}
		.plansStars{
			padding: 10px 0;
			i{
				color: $colorMain;
				&:last-child{
					color: $colorMedium;
				}
			}
		}
		.plansButtonBox{
			margin-bottom: 20px;
		}
		.plansButton{
			background-color: $colorMain;
			color: $colorLight;
			&:hover{
				background-color: $colorMedium;
			}
		}
	}
}






